<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<!--<li style="color:#e74c3c;">
									<span class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-search"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Recherche</span>
									<ul class="gn-submenu">
									<form name="f">
										<li><span class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-search"></b>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  name="search" placeholder="Chercher par mot clé" class="gn-search"></span></li>
										
									</form>
									</ul>
								</li>-->
								<!--<li>
									<ul  class="gn-submenu">
										<li><span class="gn-icon gn-icon- " >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-uniE600"></b>&nbsp;&nbsp;&nbsp;&nbsp; matche 1</span></li>
										<li><span class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-uniE600"></b>&nbsp;&nbsp;&nbsp;&nbsp; matche 2</span></li>
										<li><span class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-uniE600"></b>&nbsp;&nbsp;&nbsp;&nbsp; matche 3</span></li>
									</ul>
								</li>-->
								<li>
									<!--<span class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-list"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Menu</span>-->
									<ul >
										<li><a href="{{ path('arenafootball_plateform_admin_home') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-home"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acceuil</a></li>
										<li><a href="{{ path('arenafootball_plateform_admin_stadier') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-user4"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stadiers</a></li>
										<!--<li><a href="{#{ path('arenafootball_plateform_admin_terrain') }#}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-office"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Centres football</a></li>-->
										<li><a href="{{ path('arenafootball_plateform_admin_client') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-user"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clients</a></li>
										<li><a href="{{ path('arenafootball_plateform_admin_pub') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-paint-format"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Publicité</a></li>
										<li><a href="{{ path('arenafootball_plateform_admin_data') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-profile"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profil administrateur</a></li>
										<li><a href="{{ path('arenafootball_plateform_admin_region') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-earth"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Région stades</a></li>
										<li style="background:#666;" ><a href="{{ path('arenafootball_plateform_logout') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-exit"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Déconnexion</a></li>
										<li style="background:#666;"><a href="{{ path('arenafootball_plateform_homepage') }}" class="gn-icon gn-icon-">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b class="icon-arrow-left"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Retourner au site</a></li>
									</ul>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><img class="logo_z_index" src="{{ asset('assets/image/logo.png') }}" width="99" height="106" alt="logo"/></li>
				
				<li style="font-size:28px; color:white; background:#666; ">&nbsp;&nbsp;<b class="icon-meter"> </b>Dashboard adminstrator&nbsp;&nbsp;
                </li>
				<li style="background:#666;"><a href="{{ path('arenafootball_plateform_admin_data') }}"><span ><img src="{{ asset('assets/image/super_admin.png') }}" width="35" height="35" alt="administrateur"/></span></a></li>
				
			</ul>

			<!--<div class="header">
                <span class="icon-clock2"></span>
                <br>
                <form name="f">
					<label class="search-calendar"><b style="font-size: 20px;" class="icon-binoculars"> </b><input style="padding: 10px 10px;" placeholder="mot clé" type="search" name="search" ></span></label>
					&nbsp;&nbsp;
					
					<label><button><span class="icon-search"></span></button></label>
				</form><br>
                  <br>     	
			</div>--> 
<div class="header_admin"><br><br><br>
				
				<div class="column three_small">
					<div class="item-icon">						
						
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img  src="{{ asset('assets/image/Footstade.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_text green_bord">
							<div class="icon_small"><span class="post_content">{{ terrain|length }}<br><span class="info_bord">Terrain</span></span></div>
						</div>
						<div class="post_small ">
							<div class="icon_small"><span class="icon-user4"></span></div>
						</div>
						<div class="post_text bleu_bord">
							<div class="icon_small"><span class="post_content">{{ stadier|length }}<br><span class="info_bord">Stadiers</span></span>	</div>
						</div>
						<div class="post_small ">
							<div class="icon_small"><span class="icon-user"></span></div>
						</div>
						<div class="post_text move_bord">
							<div class="icon_small"><span class="post_content ">{{ client|length }}<br><span class="info_bord">Clients</span></span></div>
						</div>
						<div class="post_small">
							<div class="icon_small"><span class="icon-earth"></span></div>
						</div>
						<div class="post_text red_bord">
							<div class="icon_small"><span class="post_content">{{ regioncentre|length }}<br><span class="info_bord">Régions</span></span></div>
						</div>
						<div class="post_small">
							<div class="icon_small"><span class="icon-tags"></span></div>
						</div>
						<div class="post_text orange_bord">
							<div class="icon_small"><span class="post_content">0<br><span class="info_bord">TND</span></span></div>
						</div>
					</div>

		        </div>
</div>