{% extends "ArenafootballPlateformBundle::layout.html.twig" %}

{% block title %} Validation compte client - {{ parent() }}{% endblock %}

{% block body %}
    <body>
        <div class="container ">
            <header><br>
            <section style="border:1px solid #ccc;" class="tickets">                
                <br>                               
                <center>
                    <img src="{{ asset('assets/image/logo.png') }}" width="99" height="106" alt="logo"/><br>
                    <!--<img src="{{ asset('assets/image/text_logo.png') }}" width="200" height="60" alt="logo"/>-->
                 </centre> 
                <h1 style="color:#000; text-align:center;">Arenafootball-centre</h1>
                <p style="color:#000;">
                    Bonjour :{{ client.nom }}&nbsp;{{ client.prenom }}.<br>

                    Votre compte est validée.<br>
                    Vous pouvez accéder a votre compte ArenaFootball maintenant.<br>

                    L'administrateur de ArenaFootball vous remerci pour l'inscription.<br>

                    cordialement.
                </p>

            </section><br>
            </header>
            
        </div><!-- /container -->
        {% block javascript %}
            <script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="{{ asset('assets/js/smooth_target.js') }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
            <script src="{{ asset('assets/js/date_heur.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('assets/js/classie.js') }}"></script>
            <script src="{{ asset('assets/js/gnmenu.js') }}"></script>
            <script>
                new gnMenu( document.getElementById( 'gn-menu' ) );
            </script>
        {% endblock %}

{% endblock %}