{% extends "ArenafootballPlateformBundle::layout.html.twig" %}

{% block title %} Validation compte client - {{ parent() }}{% endblock %}

{% block body %}
    <body>
        <div class="container ">
            <header>
            <section style="border:1px solid #ccc;" class="tickets">                
                <br>                               
                <center>
                    <img src="{{ asset('assets/image/logo.png') }}" width="99" height="106" alt="logo"/><br>
                    <!--<img src="{{ asset('assets/image/text_logo.png') }}" width="200" height="60" alt="logo"/>--> 
                 </centre> 
                <h1 style="color:#000; text-align:center;">Arenafootball-centre</h1>
                <p style="color:#000;">
                    Bonjour :<b>{{ client.nom }}&nbsp;{{ client.prenom }}</b>.<br>

                    Votre réservation est confirmée !<br>
                    Vous pouvez accéder a votre compte ArenaFootball maintenant pour imprimer le réçu.<br>
                    Pour confirmer votre réservation en ligne <b>il faut payer un avance moins de 12h de réservation
                    sinon votre réservation sera annulée.<b><br>

                    Nous avons le plaisir de confirmer votre réservation le <b>{{ date }}</b> - <b>{{ time }}</b> pour terrain <b>{{ terrain.nom }}</b>.
                    Informations complémentaires :<br>

                        Date : <b>{{ date }}</b> - <b>{{ time }}</b><br>
                        Nombre : <b>1</b><br>
                        Centre : <b>{{ centre.nom }}</b><br>
                        Terrain : <b>{{ terrain.nom }}</b><br>

                        <br>
                        http://arenafootball-centre.com/client/acceuil
                        <br>


                        Description : <br> 
                        Rappel: Les chaussures à crampons sont interdites, veuillez vous munir de chaussure de tennis ou de stabilisé à semelle plate.Le ballon est fournis ainsi que les dossards.<br><br>

                    L'administrateur de ArenaFootball vous remerci pour la réservation.<br>

                    cordialement.
                </p>

            </section>
            </header>
            
        </div><!-- /container -->
        {% block javascript %}
            <script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="{{ asset('assets/js/smooth_target.js') }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
            <script src="{{ asset('assets/js/date_heur.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('assets/js/classie.js') }}"></script>
            <script src="{{ asset('assets/js/gnmenu.js') }}"></script>
            <script>
                new gnMenu( document.getElementById( 'gn-menu' ) );
            </script>
        {% endblock %}

{% endblock %}