<script type="text/javascript">	
	function show_terrain(){
		
			document.getElementById('show_terrain').style.display='block';		    
		    document.getElementById('booking_matche').style.display='none';
		    document.getElementById('create_stade').style.display='none';
		    document.getElementById('Rmatche').style.display='none';
		    document.getElementById('Rabonnement').style.display='none';
		    
		                } 
</script>
<div class="region">
<h3 class="text_region">Région</h3>
	<ul>
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Akouda</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Bouficha</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Sousse jawhara</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Enfida</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Hammam soussa</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Hergla</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Kalâa Kebira</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Kalâa Seghira</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Kondar</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">M'saken</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Sidi Bou Ali</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Sidi El Hani</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Sousse El jawhara</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Sousse Médina</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Sousse Riadh</a></li>								
		<li><a href="{{ path('arenafootball_plateform_terrain') }}">Sousse Sidi Adbelhamid</a></li>	                        	
	</ul>						
</div>		