<div id="myCarousel" class="carousel">
	
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
	</ol>

	<div class="carousel-inner">

		<div class="item active">
			<img src="{{ asset('assets/img/1.png') }}" alt="1"  class="img-responsive">
			<div class="carousel-caption">
				<h1>BIENVENUE</h1>
				<p class="text_corps2">sur notre site Arena Football Sousse trouvez votre terrain de Football perferées</p>
			</div>
		</div>
		<div class="item">
			<img src="{{ asset('assets/img/2.png') }}"  alt="2"  class="img-responsive">
			<div class="carousel-caption">
				<h1>Réservation</h1>
				<p class="text_corps2">sur notre site Arena Football Sousse trouvez votre terrain de Football perferées</p>
			</div>
		</div>
		<div class="item">
			<img src="{{ asset('assets/img/3.png') }}"  alt="3"  class="img-responsive">
			<div class="carousel-caption">
				<h1>Abonnement</h1>
				<p class="text_corps2">sur notre site Arena Football Sousse trouvez votre terrain de Football perferées</p>
			</div>
		</div>
		<div class="item">
			<img src="{{ asset('assets/img/4.png') }}"  alt="4"  class="img-responsive">
			<div class="carousel-caption">
				<h1></h1>
				<p class="text_corps2">sur notre site Arena Football Sousse trouvez votre terrain de Football perferées</p>
			</div>
		</div>
		<div class="item">
			<img src="{{ asset('assets/img/5.png') }}"  alt="5"  class="img-responsive">
			<div class="carousel-caption">
				<h1></h1>
				<p class="text_corps2">sur notre site Arena Football Sousse trouvez votre terrain de Football perferées</p>
			</div>
		</div>

	</div>
	
	<a class="carousel-control left" href="#myCarousel" data-slide="prev" >
		<span class="icon-prev"></span>
	</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next" >
		<span class="icon-next"></span>
	</a>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.js') }}"></script>
<br>