{% extends "ArenafootballPlateformBundle::layout.html.twig" %}

{% block title %} Espace stadier - {{ parent() }}{% endblock %}

{% block body %}
	
    <body style="background: #dce0e4;">
		<div class="container">
			
			{{ include("ArenafootballPlateformBundle:Menu:header_menu_website_content.html.twig") }} 	
				
			<header>

                <br><br><br><br>
                <h1 style="color:#2ecc71; text-align:center;">Espace Stadier</h1>               


                <h4 style="color:#777; text-align:center;" >Connectez-vous à votre compte ArenaFootball</h4>
                
                <div id="form_auth" class="form_auth">
                	<form name ="ajout" method="POST" action=""><br>       		
                		<table style="border:none;">
                			<tr>
                				<td style="text-align:center;">
                    				<div class="column tow_small">						        	
    									<div class="item_icon">											
    										<div class="post_small">
    											<div class="icon_small_admin"><span class="icon-user4"></span></div>
    										</div>
    									</div>
    								</div>					
						        </td>
                			</tr>
                             {% if message is defined %}
                                <tr>
                                    <td class="red_bord" style="text-align:center; border-radius:4px; color:#FFF;">
                                        <b class="icon-notification"> </b>{{ message }}</td>
                                </tr>
                            {% endif %}
                            {% for message in app.session.flashbag.get('mailstadier') %}
                                <tr>
                                    <td style="text-align:center; background:#2ecc71; border-radius:4px; color:#fff;">
                                        <b class="icon-notification"> </b>{{ message }}
                                    </td>
                                </td>
                            {% endfor %} 
                			<tr>                				
                				<td> <input type="email" name="username" placeholder="Nom d'utilisateur" required/> </td>
                			</tr>
                			<tr>                				
                				<td> <input type="password" name="password" placeholder="Mot de passe" required/> </td>
                			</tr>                            
                		</table>
                        <aside style="text-align:center;"><br>                               
                            <button style="width:75%;" type="submit">Connexion</button>                                   
                        </aside>                               
                	</form>
                	<p style="text-align:center;">
                	 	<a style="color:#6FC8E3;" href="javascript:clickForm();">Mot de passe oublié ?</a><br><br>
                		<a style="color:#6FC8E3;" href="{{ path('arenafootball_plateform_ajouter_terrain') }}">Créer un compte ?</a>
                	</p><br>
                </div>               

                	 <script type="text/javascript">
		                function clickForm(){
		                	 document.getElementById('form_auth').style.display='none' ;
		                	 document.getElementById('form_rec').style.display='block' ;
		                }
		                function returnForm(){
		                	 document.getElementById('form_auth').style.display='block' ;
		                	 document.getElementById('form_rec').style.display='none' ;
		                }
	                </script>

                <!-- form mot de passe oublier-->

                <div id="form_rec" class="form_auth" style="display:none;">
                	<form name ="ajout" method="POST" action="{{ path('arenafootball_plateform_password_stadier') }}">
                	        <br>       		
                		<table style="border:none;">
                			<tr>
                				<td style="text-align:center;" >
                				<div class="column tow_small">						        	
									<div class="item_icon">											
										<div class="post_small">
											<div class="icon_small_admin"><span class="icon-user4"></span></div>
										</div>
									</div>
								</div>
								</td>
							</tr>
							<tr>
								<td style="text-align:center;">							        
						        <h4> Saisissez votre adresse pour réinitialiser<br>le mot de passe du compte. </h4>
						        </td>						       
                			</tr>
                			<tr>                				
                				<td> <input type="email" name="login" placeholder="Nom d'utilisateur" required/> </td>
                			</tr>                			        			
                		</table>
                        <aside style="text-align:center;"><br>                               
                            <button style="width:75%;" type="submit">Réinitialiser</button>                                   
                        </aside>                     
                	</form>
                	<p style="text-align:center;">
                	 	<a style="color:#6FC8E3;" href="javascript:returnForm();">Retour</a><br>                		
                	</p><br>
                </div>
                

                <!--___________________________-->	
				

			</header>
			
		</div><!-- /container -->
        {% block javascript %}
            <script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src="{{ asset('assets/js/smooth_target.js') }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
            <script src="{{ asset('assets/js/date_heur.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('assets/js/classie.js') }}"></script>
            <script src="{{ asset('assets/js/gnmenu.js') }}"></script>
            <script>
                new gnMenu( document.getElementById( 'gn-menu' ) );
            </script>
        {% endblock %}

{% endblock %}
