{% extends "ArenafootballPlateformBundle::layout.html.twig" %}

{% block title %} Nos terrain - {{ parent() }}{% endblock %}

{% block stylesheet %}
			<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/image/favicon-32x32.png') }}">		
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/normalize.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icomoon.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/demo.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/component.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/component_table.css') }}" />
			<!--slide-->		
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}" />		
			<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />-->
			<!--fin-->
{% endblock %}
{% block script %}
			<script type="text/javascript" src="{{ asset('assets/js/date_heur.js') }}"></script>
			{#<script type="text/javascript" src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script>#}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
			<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
			<script src="{{ asset('assets/js/app.js') }}"></script>

{% endblock %}

{% block body %}
	
	<body>
		<div class="container">
		
		<div class="main">
			<!--header-->
			  {{ include("ArenafootballPlateformBundle:Menu:header_menu_website_content.html.twig") }} 
			<!--content-->
			
			<div class="main">	

				<div class="column three_small">

		        	<!--<p class="text_corps" ><strong>Ajouter votre stade des maintemant</strong></p>
					<p class="text_corps2" >Accéder ou Créer un espace personnel pour la gestion de votre stade </p>-->						
					<br>
					<div class="item-icon">
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/football/png/football118.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/football/png/football135.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/image/circular276.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/image/running33.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/football/png/football124.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/football/png/football96.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/football/png/football30.png') }}" width="70" height="70" alt="icon" /></div>
						</div>
						<div class="post_small">
							<div class="icon icon_stade_m_small"><img src="{{ asset('assets/image/soccer71.png') }}" width="70" height="70" alt="icon" /></div>
						</div>	
					</div>
		        </div>
		        
		       <div class="column instruction">
			       	<!--<h2 class="text_corps3" >Conculter ou Réserver vos matche </h2>-->   
			       	<!--block match chercher-->
			       	<div class="nav_left">

						<div id="form_search" class="search_booking region">        	
					        	<h3><a style="color:#FFF;" href="#">Recherche</a></h3><br><br>		        	
					        	<div  class="form_match">
					       			<form  name="f" action="{{ path('arenafootball_plateform_centre_byName') }}" method="GET">
					       				<table>
					       					<tr>
						       					<td style="background:#333; border-radius:5px; width:15%; text-align:center; color:#FFF;"><b style="font-size: 20px;" class="icon-location"> </b></td>
						       					<td>		       					
						       						<select name="region">	
					                    				<option value="{{ region }}">{{ region }}</option>
					                    			</select>
						       					</td>
						       				</tr>
					       					<tr>
												<td style="background:#333; border-radius:5px; width:15%; text-align:center; color:#FFF;"><b style="font-size: 20px;" class="icon-office"> </b></td>
												<td>
													<select name="centre" required>
				                    					<option style="background:#ccc;" value="">Choisissez un centre...</option>
				                    					{% for item in centre %}	
				                    						<option value="{{ item.id }}">{{ item.nom }}</option>
					       								{% endfor %}	                    						
				                    			</select>
												</td>
											</tr>
											<tr>
												<td>&nbsp;</td><td>&nbsp;</td>
											</tr>
											<tr>					
											<td colspan="2">
												<aside style="text-align:center;">
													<button type="submit"><span class="icon-search"> </span> Recherche</button>
												</aside>
											</td>
											</tr>								
										</table>	
									</form><br>
					       		</div> 
					    </div>
			       		<div class="region">
						<h3 class="text_region">Région</h3>
							<ul>
								{% for item in regioncentre %}
									<li><span class="icon-map">&nbsp;</span><a href="{{ path('arenafootball_plateform_centre',{'region': item.nom}) }}">{{ item.nom }}</a></li>
								{% endfor %}
							</ul>						
						</div>
						<p></p>	
			       	</div>

			       	<div class="content_big">			       		
				    {% if centre %} 	
				      {% for item in stadier %}
				        <div style="margin-top:5px; width:100%;" id="id_{{item.cin}}" class="component">						
							<table border="1"> 
								   <thead>
										<th colspan="2" style="text-align:left; background:#333; " ><span class="icon-office"> </span>
											{{ item.centre.nom|upper }}
										</th>
								   </thead>									
								   <tbody>
									    <tr>
										   <td style="width:10%; background:#fff; border-bottom:1px solid #ccc;">
											{% for img in photo %}
												{% if img.centre.id == item.centre.id %}
													{% if img.alt == 'logo' %}
												     <img src="{{ asset('uploads/' ~ img.url) }}" alt="{{ img.id}}" width="190" height="150"/>
													{% endif %}
											    {% endif %}
											{% endfor %}										
										   </td>
										   <th style="background:#fff; border-bottom:1px solid #ccc;">
												<aside style="text-align:left;"><span class="icon-map"> </span>Région: 
													<span style="color:#000;">{{ item.centre.region }}</span>
												</aside>
												<aside style="text-align:left;"><span class="icon-location2"> </span>Adresse: 
													<span style="color:#000;">{{ item.adresse}}</span>
												</aside>
												<aside style="text-align:left;"><span class="icon-phone"> </span>Infoline: 
													<span style="color:#000;">{{ item.phone }}</span>
												</aside>
												<aside style="text-align:left;"><span class="icon-mail"> </span>Email: 
													<span style="color:#000;">{{ item.login }}</span>
												</aside>
												<!--<aside style="text-align:left;"><span class="icon-star2"> </span>
													<span style="color:#000;"></span><br>
												</aside>-->	
											</th>
										</tr>
						{#*********************************Promotion****************************************#}
										
									{% if promo %}
									{% for pro in promo  %}
									{% if pro.centre.id == item.centre.id %}	
										<tr>
											<td style="width:10%; background:#fff; border-bottom:1px solid #ccc;">
												<img src="{{ asset('assets/image/supermarket16.png') }}" alt="promotion" width="70" height="70"/>
										   	</td>
										   <td style="background:#fff; border-bottom:1px solid #ccc;">
										   		<aside style="text-align:left;"> 
													<span style="color:#000;"><b class="green_bord">&nbsp;Offre promotionnel&nbsp;</b></span>
												</aside>
												<aside style="text-align:left;"><span class="icon-file3"> </span> 
													<span style="color:#000;">{{ pro.description|striptags }}</span>
												</aside>												
												<aside style="text-align:left;"><span class="icon-calendar"> </span> 
													<span style="color:#000;">{{ pro.promoDate|date('d-m-Y') }}</span>
												</aside>
												<aside style="text-align:left;"><span class="icon-stopwatch"> </span> 
													<span style="color:#000;">{{ pro.promoTime|date('H:i') }}</span>
												</aside>
												<aside style="text-align:left;"><span class="icon-tags"> </span> 
													<span style="color:#000;">{{ pro.prix }}</b>.00 TND</span>
												</aside>
											</td>
										</tr>
									{% endif %}
									{% endfor %}
									{% else %}
									<tr>
										<td colspan="2" style="background:#fff; border-bottom:1px solid #ccc;">
												<aside style="text-align:left;"><span class="icon-notification"> </span> 
													<span style="color:#000;">Aucun promotion disponible</span>
												</aside>
											</td>
									</tr>
									{% endif %}

						{#********************************button d'informaton*******************************#}

										<tr>
											<td colspan="2" style="background:#fff; border-bottom:1px solid #ccc;">
												<aside  id="id_{{item.id}}" style=" font-size:12px;">
												   <a href="{{ path('arenafootball_plateform_reserver_terrain') }}">
												   	<button><b class="icon-paste"> </b>Réservez terrain</button></a>
												   <button class="class_{{item.id}}"><b class="icon-info"> </b>Plus d'information </button>
												</aside>
												<aside  id="id_{{item.nom}}" style="font-size:12px; display:none;">
													<a href="{{ path('arenafootball_plateform_reserver_terrain') }}">
												   	<button><b class="icon-paste"> </b>Réservez terrain</button></a>
													<button class="class_{{item.nom}}">Retour </button>
											    </aside>
											</td>
										</tr>	
									</tbody>
							</table>
					    </div>
							<!--**********************************************************************-->
							<script type="text/javascript">

								$( ".class_{{item.id}}" ).click(function() {
									document.getElementById('id_{{item.cin}}').style.display='block' ;
									document.getElementById('id_{{item.password}}').style.display='block' ;
				    				document.getElementById('id_{{item.login}}').style.display='block' ;
				    				document.getElementById('id_{{item.nom}}').style.display='block' ;
				    				document.getElementById('id_{{item.id}}').style.display='none' ; 
									});

								$( ".class_{{item.nom}}" ).click(function() {
									document.getElementById('id_{{item.password}}').style.display='none' ;
									document.getElementById('id_{{item.nom}}').style.display='none' ;
									document.getElementById('id_{{item.login}}').style.display='none' ;
									document.getElementById('id_{{item.cin}}').style.display='block' ;
									document.getElementById('id_{{item.id}}').style.display='block' ;
									});
									
								</script>

						<div id="id_{{item.login}}" style="display:none; margin-top:-60px; width:100%;" class="component">
								<table>
									<tbody>	
										<tr>
											<td colspan="2" style="background:#FFF; border-bottom:1px solid #ccc;">
												{{ include("ArenafootballPlateformBundle:php:slideshow_terrain.html.twig") }} 
											</td>
										</tr>
										<tr>
											<td style="background:#fff; width:60%; border-bottom:1px solid #ccc;" >
												<aside style="text-align:left;">
													<b><span style="color:#EE3551;" class="icon-map"> </span>Région :</b>
													<span >{{ item.centre.region }}</span>
												</aside>
												<aside style="text-align:left;">
													<b><span style="color:#EE3551;" class="icon-location2"> </span>Adresse :</b>
													<span >{{ item.adresse }}</span>
												</aside>
												<aside style="text-align:left;">
													<b><span style="color:#EE3551;" class="icon-phone"> </span>Infoline :</b>
													<span >{{ item.phone }}</span>
												</aside>
												<aside style="text-align:left;">
													<b><span style="color:#EE3551;" class="icon-mail"> </span>Email :</b>
													<span >{{ item.login }}</span>
												</aside>
												<aside style="text-align:left;">
													<b><span style="color:#EE3551;" class="icon-uniE600"> </span>Terrains disponible :</b><br><br>
													{% for ter in terrain %}
														{% if ter.centre.id == item.centre.id %}
														 <img src="{{ asset('assets/image/soccer34.png') }}" alt="terrain" width="70" height="70">
													    {% endif %}
													{% endfor %}
												</aside>
											</td>
											<td style="background:#fff; width:40%; border-bottom:1px solid #CCC;">
												<div style="text-align:center;" id="votes_{{item.id}}">
													<script type="text/javascript" src="http://services.supportduweb.com/votes/{{item.id}}-3.js">
												</script>
												</div>
											</td>
									    </tr>
									    <tr>
									    	<td colspan="2" style="background:#fff; border-bottom:1px solid #fff;">
									    		<aside style="text-align:left;">
													<b><span style="color:#EE3551;" class="icon-file3"> </span>Description :</b>
												</aside>
									    	</td>
									    </tr>
									    <tr>
									    	<td colspan="2" style="background:#fff; border-bottom:1px solid #CCC;">
									    		<aside style="text-align:left;">
													<span style="color:#000;">{{ item.centre.description }}</span>
												</aside>
									    	</td>
									    </tr>
										<tr>
											<td colspan="2" style="background:#FFF; border-bottom:none; text-align:left; width:45%;" >
												<!--******************************google map**********************************-->
												<script >
													google.maps.visualRefresh = true;
													var map;
													function initialize() {
														getCoordinates ('Sousse {{item.centre.region}} {{item.adresse}}', function(coords){
															var mapOption = {
																zoom:12,
																	center: new google.maps.LatLng(coords[0], coords[1]),
																	mapTypeId: google.maps.MapTypeId.ROADMAP
																	};
																map = new google.maps.Map(document.getElementById('map-canvas'), 
																	mapOption);
															})
														}
														google.maps.event.addDomListener(window, 'load', initialize);
													</script>
												<div style="width:100%; border:1px solid #CCC; height:400px;" id="map-canvas"></div>
											</td>
										</tr>
									</tbody>		
								</table>
																	
					           	<div  id="id_{{item.password}}">					           			
						               <h3 style="color:#777;">Tarifs centre</h3>			                
						                <table>                               
			                                <thead>
			                                    <tr>
			                                        <th><b class="icon-list"> </b></th>                         
			                                        <th><b class="icon-stopwatch"> </b> </th>
			                                        <th><b class="icon-uniE600"></b></th>
			                                        <th><b class="icon-calendar2"> </b></th>
			                                        <th><b class="icon-clock"> </b></th>
			                                        <th><b class="icon-calendar"> </b></th>
			                                        <th><b class="icon-tags"> </b></th>                           
			                                    </tr>
			                                </thead>
			                            {% for tarif in tarifcentre %}
			                            	{% if tarif.centre.id == item.centre.id %}
			                                <tbody>
			                                    <tr>
			                                        <td class="user-name">{{ tarif.type }}</td>
			                                        <td class="user-name">{{ tarif.dureeSceance }}</td>
			                                        <td class="user-name">{{ tarif.nbSceanceMois }}</td>
			                                        <td class="user-name">{{ tarif.dureeAbonnement }}</td>
			                                        <td class="user-name">{{ tarif.horaireSceanceGo|date('H:m') }}H<br>{{ tarif.horaireSceanceEnd|date('H:m') }}H</td>
			                                        <td class="user-name">{{ tarif.jourSceanceGo }}<br>{{ tarif.jourSceanceEnd }} </td>
			                                        <td class="user-name">{{ tarif.tarifGroupe }} TND</td>             
			                                    </tr>
			                                </tbody>
			                                {% endif %}
			                            {% endfor %}    
		                            </table>					                
								</div>
						</div>
				       	{% endfor %}{% else %}

				       	<div style="margin-top:5px;" class="component"> 	
							<table>
								<thead>
									<th colspan="2" style="text-align:left;" ><span class="icon-office"> </span>
									</th>
								</thead>
								   <tbody>
									    <tr>										   
										    <th colspan="2" style="background:#fff; border-bottom:1px solid #ccc;"><br>
												<aside style="text-align:centre;"><span class="icon-notification"> </span><br>
													<span style="color:#000;">Aucun centre dans cette région<br><b>{{ region }}</b></span>
												</aside><br><br>
											</th>
										</tr>	
									</tbody>
							</table>
						 </div>
						{% endif %}
					</div>     
			       
							      

		     </div>  </div>		                   
			

			</div>
			<!--footer-->
			<footer>
				{{ include("ArenafootballPlateformBundle:php:footer.html.twig") }}  
			</footer> 
		</div><!-- /container -->		
		{% block javascript %}
			<script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="{{ asset('assets/js/smooth_target.js') }}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
			<script src="{{ asset('assets/js/date_heur.js') }}" type="text/javascript" ></script>
			<script src="{{ asset('assets/js/classie.js') }}"></script>
			<script src="{{ asset('assets/js/gnmenu.js') }}"></script>
			<script>
				new gnMenu( document.getElementById( 'gn-menu' ) );
			</script>
			
		{% endblock %}

{% endblock %}
