{% extends "ArenafootballPlateformBundle::layout.html.twig" %}

{% block title %} Espace client - {{ parent() }}{% endblock %}

{% block body %}
	<body>
		<div class="container">

			{{ include("ArenafootballPlateformBundle:Menu:header_menu_admin.html.twig") }}
				
			<header>
			<div class="component">
				<h1 style="color:#777;"><b class="icon-user4"> </b> Liste des centres de football</h1>
				<table>
					<thead>
						<tr>
							<th class="lefttab"><b class="icon-"> </b>ID</th>
							<th class="lefttab"><b class="icon-"> </b>Nom de terrain</th>
							<th class="lefttab"><b class="icon-user4"> </b>Stadier</th>							
							<th class="lefttab"><b class="icon-earth"> </b>Région</th>
							<th class="lefttab"><b class="icon-"> </b>Terrain</th>		
							<th class="lefttab"><b class="icon-cogs"> </b></th>
						</tr>
					</thead>
					{% for item in centre %}
					<tbody>
						<tr>
							<td class="lefttab">{{ item.centre.id }}</td>
							<td class="lefttab">{{ item.centre.nom }}</td>
							<td class="lefttab">{{ item.nom }}&nbsp;{{ item.prenom }}</td>
							<td class="lefttab">{{ item.centre.region }}</td>
							<td class="lefttab">{{ item.centre.nbTerrain }}</td>							
							<td>
								<a class="edit" href="#"><i class="icon-pencil" style="font-size:14pt;"></i></a>
									&nbsp;
								<a class="delete" href="#"><i class="icon-remove" style="font-size:14pt;"></i></a>
							</td>
						</tr>
					</tbody>
					{% endfor %}
				</table>
				
			</div>		

			</header>
			<footer>
				{{ include("ArenafootballPlateformBundle:php:footer.html.twig") }} 
			</footer> 
		</div><!-- /container -->
		{% block javascript %}
			<script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/smooth_target.js') }}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
			<script src="{{ asset('assets/js/date_heur.js') }}" type="text/javascript" ></script>
			<script src="{{ asset('assets/js/classie.js') }}"></script>
			<script src="{{ asset('assets/js/gnmenu.js') }}"></script>
			<script>
				new gnMenu( document.getElementById( 'gn-menu' ) );
			</script>
		{% endblock %}

{% endblock %}