{% extends "ArenafootballPlateformBundle::layout.html.twig" %}

{% block title %} Espace stadier - {{ parent() }}{% endblock %}

{% block body %}
    <body>
        <div class="container">
            {{ include("ArenafootballPlateformBundle:Menu:header_menu.html.twig") }}
				
			<div class="main">
            
            <div class="column instruction">

                <script type="text/javascript">
                     function display_promo(){
                            document.getElementById('Pliste').style.display='none' ;
                            document.getElementById('Pform').style.display='block' ;         
                    }
                    function create_promo(){
                            document.getElementById('Pliste').style.display='block' ;
                            document.getElementById('Pform').style.display='none' ;            
                    }                   
                </script>
               
               <div id="Pliste" class="content_completed">                   
                    <div class="componentS">
                        <table>
                            <thead>
                                <tr>
                                    <th style="color:white;"><b>News académie</b></th>
                                    <th><b class="icon-calendar"> </b><b>Date</b></th>
                                    <th><b class="icon-stopwatch"> </b><b>Titre</b></th>
                                    <th><b class="icon-keyboard"> </b><b>Description</b></th>
                                    <th><b class="icon-cogs"> </b></th>                           
                                </tr>
                            </thead>
                            {% if newsacademies %}
                            {% for item in newsacademies %}
                            <tbody>
                                <tr>
                                    <td class="user-name"><img src="{{ asset('assets/image/News.png') }}" width="50" height="50"></td>
                                    <td class="username">{{ item.dateGo|date('d-m-Y') }}</td>
                                    <td class="username">{{ item.titre }} </td>
                                    <td class="username"><b class="icon-keyboard"> </b></td>
                                    <td>
                                        <a class="add"  href="javascript:display_promo();"><b class="icon-plus"> </b></a>
                                        <a class="edit" href="{{ path('arenafootball_plateform_terrain_new_academie_edit',{'id': item.id}) }}" > <b class="icon-pencil"></b></a>                                         
                                        <a class="delete" href="{{ path('arenafootball_plateform_new_academie_delete',{'id': item.id}) }}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer ce news académie: {{ item.titre }} ?'));" > <b class="icon-remove"></b> </a>
                                    </td>                            
                                </tr>
                            </tbody>
                            {% endfor %}
                            {% else %}
                            <tbody>
                                <tr>
                                    <td class="user-name"><img src="{{ asset('assets/image/News.png') }}" width="50" height="50"></td>
                                    <td class="username">-</td>
                                    <td class="username">-</td>
                                    <td class="username">-</td>
                                    <td>
                                        <a class="add"  href="javascript:display_promo();"><b class="icon-plus"> </b></a>
                                    </td>                            
                                </tr>
                            </tbody>
                            {% endif %}    
                        </table>
                    </div>
                 </div>

                 <!--<div class="nav_right"><br></div>-->

                 <div id="Pform" style="display:none;" class="content_center"><br>
                     <div style="width:750px;" class="booking" >
                       {{ form_start(form) }}
                            <h1 style="background:#333; font-size:1.4em; color:#2ecc71; padding: 13px; text-align:center;">Créez événnement académie centre </h1>
                                        <br>{{ form_errors(form) }}  
                                        <table style="width:80%">  
                                                <tr class="hide">
                                                    <th>{{ form_label(form.centre, "Nom du centre") }} :</th>
                                                    <td> {{ form_widget(form.centre) }}</td>
                                                </tr>                                               
                                                <tr>
                                                    <th style="width:50%;">{{ form_label(form.dateGo, "Date ") }} :</th>
                                                    <td style="width:50%;"> {{ form_widget(form.dateGo) }}<br>
                                                        <span class="red_color">{{ form_errors(form.dateGo) }}</span>
                                                     </td>
                                                </tr>
                                                <tr>
                                                    <th>{{ form_label(form.titre, "Titre") }} :</th>
                                                    <td> {{ form_widget(form.titre) }}
                                                        <span class="red_color">{{ form_errors(form.titre) }}</span>
                                                     </td>
                                                </tr>
                                                <tr>
                                                    <th>{{ form_label(form.description, "Description") }} :</th>
                                                    <td> {{ form_widget(form.description) }}<br>
                                                        <span class="red_color">{{ form_errors(form.description) }}</span>
                                                     </td>
                                                </tr>
                                        </table>
                                <aside style="text-align:center;" ><br>                            
                                    <a class="button" href="javascript:create_promo()">Retour</a>
                                    <button type="submi">Créer événnement académie</button>                                    
                                    <button type="reset">Annuler</button>
                                </aside><br>                            
                         {{ form_end(form) }}
                    </div>
                </div>
        </div>
    </div>

            <footer>
                {{ include("ArenafootballPlateformBundle:php:footer.html.twig") }} 
            </footer>

        </div><!-- /container -->
        {% block javascript %}
            <script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
            <script src="{{ asset('assets/js/smooth_target.js') }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
            <script src="{{ asset('assets/js/classie.js') }}"></script>
            <script src="{{ asset('assets/js/gnmenu.js') }}"></script>
            <script>
                new gnMenu( document.getElementById( 'gn-menu' ) );
            </script>
        {% endblock %}
{% endblock %}

